# _______________________________________________
# 		Whole Folder
# _______________________________________________
/dev_tmp/
/tmp/
/build/
/dist/
/pyinstaller/

# _______________________________________________
# 		Mixed
# _______________________________________________
/doc/doxygen/
!/doc/docPictures/

# _______________________________________________
# 		Single File
# _______________________________________________
