# _______________________________________________
# 		Whole Folder
# _______________________________________________
/dev_tmp/
/tmp/
/build/
/dist/
/pyinstaller/
/test/cam1/
/test/cam1_selected/

# _______________________________________________
# 		Mixed
# _______________________________________________
/doc/
!/doc/docPictures/

# _______________________________________________
# 		Whole Type
# _______________________________________________
*.pyz
*.pyc

# _______________________________________________
# 		Single File
# _______________________________________________
resources.py